form(method="POST", enctype="multipart/form-data", action="/register")
	input(name="workType", type="text")
	br
	input(name="input", type="file", multiple)
	br
	input(name="input", type="text", multiple)
	br
	input(name="submit", type="submit", value="Upload")